/* Fonts */
$font-headline-2x-large-font-size: 48px;
$font-headline-2x-large-line-height: 56px;
$font-headline-2x-large-font-weight: 600;
$font-headline-2x-large-letter-spacing: 0;

$font-headline-x-large-font-size: 36px;
$font-headline-x-large-line-height: 40px;
$font-headline-x-large-font-weight: 600;
$font-headline-x-large-letter-spacing: 0;

$font-headline-large-font-size: 28px;
$font-headline-large-line-height: 32px;
$font-headline-large-font-weight: 600;
$font-headline-large-letter-spacing: 0;

$font-headline-medium-font-size: 24px;
$font-headline-medium-line-height: 32px;
$font-headline-medium-font-weight: 600;
$font-headline-medium-letter-spacing: 0;

$font-headline-small-font-size: 20px;
$font-headline-small-line-height: 28px;
$font-headline-small-font-weight: 600;
$font-headline-small-letter-spacing: 0;

$font-headline-x-small-font-size: 16px;
$font-headline-x-small-line-height: 24px;
$font-headline-x-small-font-weight: 700;
$font-headline-x-small-letter-spacing: 0;

$font-copy-regular-font-size: 16px;
$font-copy-regular-line-height: 24px;
$font-copy-regular-font-weight: 400;
$font-copy-regular-letter-spacing: 0;

$font-copy-semi-bold-font-size: 16px;
$font-copy-semi-bold-line-height: 24px;
$font-copy-semi-bold-font-weight: 600;
$font-copy-semi-bold-letter-spacing: 0;

$font-copy-light-font-size: 16px;
$font-copy-light-line-height: 24px;
$font-copy-light-font-weight: 300;
$font-copy-light-letter-spacing: 0;

$font-label-medium-font-size: 16px;
$font-label-medium-line-height: 24px;
$font-label-medium-font-weight: 400;
$font-label-medium-letter-spacing: 0;

$font-label-small-font-size: 14px;
$font-label-small-line-height: 24px;
$font-label-small-font-weight: 400;
$font-label-small-letter-spacing: 0;

$font-button-medium-font-size: 16px;
$font-button-medium-line-height: 24px;
$font-button-medium-font-weight: 600;
$font-button-medium-letter-spacing: -0.08px;

$font-button-small-font-size: 14px;
$font-button-small-line-height: 24px;
$font-button-small-font-weight: 600;
$font-button-small-letter-spacing: -0.07px;

$font-link-medium-font-size: 16px;
$font-link-medium-line-height: 24px;
$font-link-medium-font-weight: 600;
$font-link-medium-letter-spacing: -0.08px;